// Place all the styles related to the medications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  border: 1px solid darkgray;
  padding: 10px;
}
.bottom-buffer {
  margin-bottom: 20px;
}
.btn {
  background: dodgerblue;
  color: white;
  padding: 10px;
}